bundles
.dockerignore
Dockerfile
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
coverage.xml
*,cover
*.log
.git
.env
.venv
instance
*.db
tests
.pytest_cache
.ruff_cache
